footer {
    height: 100%;
    background: #001927;
    position: relative;
}

.footer__content {
    margin: 0 auto;
    width: 80%;
}

.footer__col {
    display: inline-block;
    vertical-align:top;
    margin-top: 5%;
}

.footer__col-list {
    list-style: none;
}

.footer__col-list-item {
    text-decoration: none;
    margin: 10px;
    font-size: 1rem;
}

.footer__col-list-item > a,
.footer__col-list-item {
    text-decoration: none;
    color: #fff;
    font-family: Muli-Regular;
}
.footer__col:nth-child(6) {
    margin-bottom: 2.5rem;
}

.contact {
    width: 100%;
}

.footer__col-contact {
    font-family: Muli-Regular;
    vertical-align: top;
    text-align: center;
}

.footer__col-contact > span {
    color: #fff;
    display: block;
    margin: 8px 0;
}

.footer__col-list-item:first-child > a {
    font-family: Muli-ExtraBold;
}

.footer__google-map {
    height: 200px;
    width: 200px;
    margin: 0 auto 30px auto;
}

.footer__signature {
    color: #fff;
    font-family: Muli-Regular;
    position: absolute;
    bottom: 0;
    right: 5%;
}