.contact-form {
    background-color: #F5F8FA;
    padding-bottom: 50px;
}

.contact-form__info {
    width: 80vw;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
    font-family: Muli-SemiBold;
}

.contact-form__info > h2 {
    font-size: 1.2rem;
}

.contact-form__info > p {
    font-size: 1rem;
    color: #7B94A5;
}

textarea, input {
    border-style: none;
    box-shadow: 1px 1px 2px #707070;
    margin-bottom: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

input, textarea {
    height: 49px;
    font-size: 0.9rem;
    font-family: Muli-SemiBold;
    padding-left: 2%;
}

#name, #surname {
    width: 45%
}

.personal-data {
    width: 100%;
    position: relative;
    height: 155px;
}

#name {
    position: absolute;
    left: 0;
    width: 98%;
}

#surname {
    position: absolute;
    right: 0;
    width: 98%;
    top: 74px;
}

#email, #message {
    width: 99%;
}

#message {
    height: 160px;
    padding-top: 10px
}

.agreement {
    width: 100%;
    margin-bottom: 15px;
}


label > input[type='checkbox'] {
    display: inline-block;
    box-shadow: none;
    appearance: none;
    margin: 0;
    height: 15px;
    width: 15px;
}

form > button {
    background-color: #00B6DC;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 1rem;
    font-family: Muli-ExtraBold;
    padding: 18px;
    width: 118px;
    height: 50px;
}

form > button[disabled] {
    background: #7fa4ac;
    cursor: not-allowed;
}

.invalid {
    border: 1px solid red;
    color: #e05a5a;
    box-shadow: none;
}