    #hamnav {
    width: 10%;
    background: tomato;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  #hamnav label, #hamburger { display: none; }

  #hamitems {
    width: 50vw;
    background: tomato;
  }
  
  #hamitems a {
    font-family: Muli-Bold;
    width: 20%;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: #401408;
  }
  

  @media screen and (max-width: 768px){
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  