.slider {
    background-image: url("../images/slider1.png");
    background-size: 150%;
    background-position: 50% 50%;
    height: 38vh;
    position: relative;
    filter: brightness(50%);
    background-repeat: no-repeat;
}

.navbar {
    display: none;
}

.logo {
    width: 2rem;
    height: 2.2rem;
    background-image: url("../images/logo.png");
    background-size: cover;
    position: absolute;
    left: 20%;
    top: 2%;
}

.main-text {
    position: absolute;
    top: 8%;
    left: 10%;
    font-family: Muli-ExtraLight;
    
}

.main-text__head {
    color: #fff;
    font-weight: 200;
    margin: 0;
    font-size: 1.3rem;
}

.main-text__subhead {
    color: #00B6DC;
    font-weight: 100;
    margin: 15px 0 55px 0;
}

.buttons {
    position: absolute;
    top: 30%;
    left: 0;
    display: inline-block;
    margin: 0 0.5rem;
    font-family: Muli-ExtraBold;
}

.button {
    padding: 0.8rem 0.5rem;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background: transparent;
    color: #fff;
}

.buttons > .transparent {
    background: transparent;
    color: #fff;
}

.buttons > .transparent:hover {
    background: #fff;
    color: #000;
}